.fadeIn {
  animation: fadeIn 0.3s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.marqueeAnimBox {
  animation: marqueeAnimBox 10s linear forwards;
}
@keyframes marqueeAnimBox {
  from {
    transform: translateX(1316px);
  }
  to {
    transform: translateX(0%);
  }
}

.marqueeAnimFirst {
  animation: marqueeAnimFirst 20s linear infinite;
}
@keyframes marqueeAnimFirst {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marqueeAnimSecond {
  animation: marqueeAnimSecond 20s linear infinite;
  animation-delay: 10s;
}
@keyframes marqueeAnimSecond {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
