.fadeIn {
  animation: fadeIn 0.3s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.headerFadeIn {
  animation: headerFadeIn 0.4s ease-in forwards;
}
@keyframes headerFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.headerFadeOut {
  animation: headerFadeOut 0.5s ease-out forwards;
}
@keyframes headerFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  20% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.marqueeAnimFirst {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  animation: marqueeAnimFirst 15s linear infinite;
}
@keyframes marqueeAnimFirst {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-120%);
  }
}

.marqueeAnimSecond {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  animation: marqueeAnimSecond 15s linear infinite;
  animation-delay: 7.5s;
}
@keyframes marqueeAnimSecond {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(-220%);
  }
}

.text-gradient-animation {
  color: #ff0000;
  // background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-image: -webkit-linear-gradient(92deg, #ff0000, #8dff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradientAnimation 5s infinite linear;
}

@-webkit-keyframes textGradientAnimation {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
