@import "mixins", "var";

* {
  box-sizing: border-box;
  // cursor: url("src/assets/cursor/custom-cursor-plus.svg") 27 27, auto;
}

html {
  font-family: $r-ff;
  height: 100%;
}

body {
  margin: 0;
  height: auto;
  background-color: #000;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p,
h2,
h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

main {
  position: relative;
}

.header__logo {
  &:hover {
    .cursor {
      transform: scale(0.8);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}
