@font-face {
  font-family: "ObjectSans-Bold";
  src: url("/assets/fonts/ObjectSans-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "ObjectSans-Regular";
  src: url("/assets/fonts/ObjectSans-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "ObjectSans-Thin";
  src: url("/assets/fonts/ObjectSans-Thin.otf") format("opentype");
  font-display: swap;
}
