@import "mixins";

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;

  @include media-breakpoint-down(1440) {
    max-width: 1440px;
  }
  @include media-breakpoint-down(1366) {
    max-width: 1366px;
  }
}

.container {
  padding: 0 104px;

  @include media-breakpoint-down(768) {
    padding: 0 60px;
  }
  @include media-breakpoint-down(375) {
    padding: 0 32px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
