//Colors
$gray: #a7a59e;
$gray-light: #d6d6d6;
$gray-dark: #565656;
$lime: #14ff00;
$tomato: #ff0000;

//Fonts
$b-ff: "ObjectSans-Bold", sans-serif;
$r-ff: "ObjectSans-Regular", sans-serif;
$t-ff: "ObjectSans-Thin", sans-serif;
