<div class="header pw123">
  <div class="wrapper flex-between">

    <p class="header__logo">Anna Yushchenko</p>

    <nav class="header-nav flex-between">
      <div class="header-nav__item">Information</div>
      <div class="header-nav__item">Work</div>
      <div class="header-nav__item">Contact</div>
    </nav>

    <nav class="header-nav_mob flex-between">
      <div class="header-nav__item">Information</div>
      <div class="header-nav__item">Work</div>
      <div class="header-nav__item">Contact</div>
    </nav>

  </div>
</div>