<div class="header header-padding-container" id="header">
  <div class="wrapper container flex-between">
    <div class="">
      <a (click)="moveToSection('main')" class="header__logo" *ngIf="!navOpen">
        Anna Yushchenko</a
      >

      <div
        class="header-slogan"
        [ngClass]="{
          headerFadeIn: !isHeaderFixed,
          headerFadeOut: isHeaderFixed
        }"
      >
        <span class="header-slogan__part">. designer who executes </span>
        <span class="header-slogan__part">idea → </span>
        <span class="header-slogan__part">concept → </span>
        <span class="header-slogan__part">wireframing → </span>
        <span class="header-slogan__part">design</span>
      </div>
    </div>

    <button
      [ngClass]="{
        headerFadeIn: isHeaderFixed,
        headerFadeOut: !isHeaderFixed
      }"
      *ngIf="isFirstScreen"
      [hidden]="!navOpen && isHeaderFixed"
      class="header__switch"
      (click)="toggleNav(false)"
    ></button>

    <nav *ngIf="navOpen" class="header-nav container flex-column">
      <div class="header-nav-container">
        <p class="header-nav-container__item" (click)="toggleNav('main')">
          Anna Yushchenko
        </p>
        <p
          class="header-nav-container__item"
          (click)="toggleNav('information')"
        >
          Information
        </p>
        <p class="header-nav-container__item" (click)="toggleNav('work')">
          Work
        </p>
        <p class="header-nav-container__item" (click)="toggleNav('contacts')">
          Contact
        </p>
        <button class="header__switch" (click)="toggleNav(false)"></button>
      </div>
    </nav>
  </div>
</div>
