<div class="header header-padding-container" id="header">
  <div
    class="wrapper container header-wrapper"
    [@.disabled]="disableNavAnimation"
  >
    <div class="">
      <a (click)="moveToSection('main')" class="header__logo" *ngIf="!navOpen">
        Anna Yushchenko</a
      >
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_1: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >&nbsp;— designer&nbsp;
      </span>
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_1: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >who executes&nbsp;
      </span>
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_2: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >idea →&nbsp;
      </span>
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_3: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >concept →&nbsp;
      </span>
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_4: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >wireframing →
      </span>
      <span
        class="header-slogan"
        [ngClass]="{
          headerLogoPartFadeIn_5: !isHeaderFixed && animateLogo,
          headerFadeIn: !isHeaderFixed && !animateLogo,
          headerFadeOut: isHeaderFixed,
          'header-slogan_hide': hideDelay
        }"
        >&nbsp;design</span
      >
    </div>

    <button
      [@headerSwitchAnimation]="stateName"
      *ngIf="isHeaderFixed && !navOpen"
      class="header__switch"
      (click)="toggleNav(false)"
    ></button>

    <nav *ngIf="navOpen" class="header-nav container flex-column">
      <div class="header-nav-container">
        <p class="header-nav-container__item" (click)="toggleNav('main')">
          Anna Yushchenko
        </p>
        <p
          class="header-nav-container__item"
          (click)="toggleNav('information')"
        >
          Information
        </p>
        <p class="header-nav-container__item" (click)="toggleNav('work')">
          Work
        </p>
        <p class="header-nav-container__item" (click)="toggleNav('contacts')">
          Contact
        </p>
        <button class="header__switch" (click)="toggleNav(false)"></button>
      </div>
    </nav>
  </div>
</div>
