@import "mixins", "media-mixins", "var";

.header {
  position: relative;
  padding: 72px 0;

  @include media-breakpoint-down(1440) {
    padding: 56px 0;
  }

  @include media-breakpoint-down(1366) {
    padding: 48px 0;
  }

  @include media-breakpoint-down(768) {
    padding: 72px 0;
  }

  @include media-breakpoint-down(375) {
    padding: 40px 0;
  }

  &__logo {
    font-family: $b-ff;
    font-size: 16px;
    letter-spacing: 0.6px;
    color: #fff;

    @include media-breakpoint-down(768) {
      font-size: 24px;
      letter-spacing: 0.9px;
    }

    @include media-breakpoint-down(375) {
      font-size: 16px;
      letter-spacing: 0.6px;
    }
  }

  &-nav {
    @include media-breakpoint-down(768) {
      display: none;
    }

    &__burger {
      @include btn-reset;
      width: 48px;
      height: 28px;

      display: none;

      background-image: url(../../../../assets/icons/burger-menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;

      @include media-breakpoint-down(768) {
        display: flex;
      }

      @include media-breakpoint-down(375) {
        width: 24px;
        height: 14px;
      }
    }

    &-mob {
      width: 100%;
      height: 100vh;
      padding-top: 72px;
      padding-bottom: 72px;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;

      &__item {
        margin-bottom: 24px;
        font-family: $t-ff;
        font-size: 78px;
        font-weight: 100;
        line-height: 1.13;
        color: #fff;

        @include media-breakpoint-down(375) {
          font-size: 40px;
          line-height: 1.2;
        }
      }

      &-header {
        width: 100%;
      }

      @include media-breakpoint-down(375) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      &__close {
        @include btn-reset;
        width: 28px;
        height: 28px;

        background-image: url(../../../../assets/icons/burger-menu-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include media-breakpoint-down(375) {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__item {
      margin-right: 63px;
      font-family: $r-ff;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1.43;
      letter-spacing: 1px;
      color: $gray;

      &_active {
        color: #fff;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

home :host {
  left: 0;
  right: 0;
  top: 0;
  z-index: 102;
  position: -webkit-sticky;
  position: sticky;

  @include media-breakpoint-down(768) {
    position: fixed;
  }
}
