@import "mixins", "media-mixins", "var", "slideshow";

.portfolio {
  &-wrapper {
    position: relative;

    height: 100%;
    padding-top: 32vh;
    padding-bottom: 70vh;
    display: flex;

    @include media-breakpoint-down(768) {
      height: auto;
      padding-bottom: 55vh;
    }
  }

  &-list {
    justify-content: baseline;

    &-item {
      position: relative;
      margin-bottom: 56px;
      padding-bottom: 92px;

      @include media-breakpoint-down(1680) {
        margin-bottom: 40px;
        padding-bottom: 60px;
      }

      @include media-breakpoint-down(1366) {
        margin-bottom: 32px;
        padding-bottom: 54px;
      }

      @include media-breakpoint-down(768) {
        margin-bottom: 48px;
        padding-bottom: 48px;
      }

      @include media-breakpoint-down(375) {
        margin-bottom: 24px;
        padding-bottom: 24px;
      }

      &__title {
        @include text-desk_wide;
        display: inline-block;
        color: $gray;
        margin-top: 0;
        margin-bottom: 16px;
        line-height: 1;

        &:hover {
          color: #fff;
        }

        @include media-breakpoint-down(1680) {
          @include text-desk;

          font-size: 52px;
          line-height: 74px;
          margin-bottom: 8px;
          font-weight: 100;
        }

        @include media-breakpoint-down(1440) {
          @include text-desk;
          margin-bottom: 12px;
          line-height: 38px;

          font-size: 42px;
        }
        @include media-breakpoint-down(1366) {
          font-size: 40px;
        }
        @include media-breakpoint-down(768) {
          font-size: 64px;
          line-height: 1;
        }
        @include media-breakpoint-down(375) {
          font-size: 36px;
          margin-bottom: 8px;
        }
      }

      &__subtitle {
        @include text-mob;
        color: $gray;

        position: absolute;
        z-index: -2;
        width: 100vw;

        @include media-breakpoint-down(1680) {
          font-size: 20px;
          line-height: 1;
        }

        @include media-breakpoint-down(1440) {
          font-size: 18px;
          line-height: 1.25;
        }

        @include media-breakpoint-down(768) {
          position: initial;
          width: auto;
        }

        @include media-breakpoint-down(375) {
          font-size: 16px;
        }
      }

      &__divider {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -3;
        width: calc(100vw - 208px);
        height: 4px;
        background-color: $gray;

        @include media-breakpoint-down(768) {
          width: calc(100vw - 120px);
        }
        @include media-breakpoint-down(576) {
          height: 2px;
        }
        @include media-breakpoint-down(375) {
          width: calc(100vw - 64px);
        }
      }
    }
  }

  &-slideshow {
    pointer-events: none;
    position: absolute;
    top: 0;
    // z-index: 105;
    z-index: -1;

    width: 612px;

    transform-style: preserve-3d;
    transform: translateX(-150%);

    @include media-breakpoint-down(1440) {
      max-width: 500px;
    }
    @include media-breakpoint-down(1366) {
      max-width: 500px;
    }
  }
}
.portfolio-list-item_hover .portfolio-slideshow {
  display: block;
  z-index: 10;
}

.slideshow {
  position: initial;
  z-index: initial;
  top: initial;

  &__image {
    max-width: 612px;
  }
}
