<div #portfolioContainer class="portfolio container wrapper">
  <div class="portfolio-wrapper">
    <div class="portfolio-list flex-column">
      <div
        *ngFor="let project of projects; let i = index"
        class="portfolio-list-item"
        (click)="toggleModal(project.images)"
      >
        <h3
          class="portfolio-list-item__title"
          (mouseenter)="mouseenter($event, i)"
          (mouseleave)="mouseleave($event, i)"
        >
          {{ project.title }}
        </h3>
        <!-- IMPORTANT TO KEEP "portfolio-slideshow" AFTER "portfolio-list-item__title" FOR projectEnter() FUNC -->
        <div class="portfolio-slideshow">
          <div id="followImage{{ i + 1 }}" class="slideshow">
            <div id="followImageBox{{ i + 1 }}">
              <img
                *ngFor="let image of project.images"
                src="{{ image.src }}"
                alt="{{ image.alt }}"
                class="slideshow__image"
              />
            </div>
          </div>
        </div>
        <p class="portfolio-list-item__subtitle">
          {{ project.subtitle }}
        </p>

        <div class="portfolio-list-item__divider"></div>
      </div>
    </div>
  </div>
</div>
