<div class="information container flex-center wrapper">
  <div class="information-content flex-between">

    <div class="information-content-mobile information-content-mobile_top">
      <a href="/" class="information-content-mobile-content flex-between">
        <img class="information-content-mobile-content__img" src="../../../assets/images/cv.png" alt="cv image">
        <p class="information-content-mobile-content__text">* check my paper version CV with full information</p>
      </a>
    </div>

    <div class="information-content-text">
      In the
      <span class="information-content-text__action-part after-err-1" (mouseenter)="img1 == true"
        (mouseleave)="img1 == false">past
        few years</span>,
      <span class="overlap"><br></span>
      I’ve mostly been working on
      <span class="overlap"><br></span>
      corporate websites, landing
      <span class="overlap"><br></span>
      pages, and digital products.
      <span class="overlap"><br></span>
      In total, I was involved in more
      <span class="overlap"><br></span>
      than
      <span class="information-content-text__action-part after-err-2" (mouseenter)="img1 == true"
        (mouseleave)="img1 == false">100
        design projects</span>.
    </div>

    <div class="information-content-mobile information-content-mobile_bottom">
      <a href="/" class="information-content-mobile-content flex-between">
        <img class="information-content-mobile-content__img" src="../../../assets/images/project-images.png"
          alt="project images collage">
        <p class="information-content-mobile-content__text">* check my selected works<span class="overlap"><br></span>
          or just scroll down</p>
      </a>
    </div>

    <div class="information-content-images">
      <img class="information-content-images__img" *ngIf="!img1 && !img2" src="../../../assets/images/cv3x.png"
        alt="Annas cv image">
      <img class="information-content-images__img" *ngIf="img1" src="../../../assets/images/project-images3x.png"
        alt="collage about Anna">
      <img class="information-content-images__img" *ngIf="img2" src="../../../assets/images/project-images3x.png"
        alt="100 projects collage">
    </div>

  </div>
</div>