@import "mixins", "media-mixins", "var";

.information {
  overflow: hidden;
  height: 100vh;
  padding-top: 115px;

  @include media-breakpoint-down(768) {
    padding-top: 220px;
  }

  @include media-breakpoint-down(375) {
    padding-top: 135px;
  }

  @include media-breakpoint-down(360) {
    padding-top: 108px;
  }

  &-main {
    height: 100%;
  }

  &-content {
    width: 100%;

    @include media-breakpoint-down(768) {
      flex-direction: column;
    }

    &-text {
      @include text-desk_wide;
      font-family: $t-ff;
      font-size: 60px;
      line-height: 1.47;
      margin-right: 100px;
      position: relative;

      @include media-breakpoint-down(1680) {
        font-size: 52px;
        line-height: 1.42;
        margin-right: 70px;
      }
      @include media-breakpoint-down(1440) {
        font-size: 44px;
        line-height: 1.45;
        margin-right: 13px;
      }
      @include media-breakpoint-down(1366) {
        font-size: 42px;
        line-height: 1.42;
        margin-right: 0;
      }
      @include media-breakpoint-down(768) {
        color: #fff;
        line-height: 1.6;
      }
      @include media-breakpoint-down(375) {
        font-size: 24px;
        font-weight: 100;
        margin-right: 0;
      }

      &__action-part {
        max-width: none;
        text-decoration: underline;
        margin-right: 0;
      }
    }

    &-images {
      max-width: 544px;
      @include media-breakpoint-down(1536) {
        max-width: 500px;
      }

      @include media-breakpoint-down(768) {
        display: none;
      }

      &__img {
      }
    }

    &-mobile {
      display: none;
      align-items: center;
      width: 100%;

      @include media-breakpoint-down(768) {
        display: flex;
      }

      &-content {
        max-width: 365px;

        &__text {
          @include text-mob;
          line-height: 1.4;
          color: $gray;

          @include media-breakpoint-down(375) {
            font-size: 14px;
            line-height: 1.25;
          }
        }
        &__img {
          margin-right: 32px;

          @include media-breakpoint-down(375) {
            margin-right: 24px;
          }
        }
      }

      &_top {
        justify-content: flex-start;
        margin-bottom: 62px;

        @include media-breakpoint-down(375) {
          margin-bottom: 33px;
        }

        .information-content-mobile-content__text {
          max-width: 211px;
        }
        .information-content-mobile-content__img {
          max-height: 100px;
        }

        @include media-breakpoint-down(375) {
          .information-content-mobile-content__text {
            max-width: 113px;
          }
          .information-content-mobile-content__img {
            max-height: 77px;
          }
        }
      }
      &_bottom {
        justify-content: flex-end;
        margin-top: 93px;

        @include media-breakpoint-down(375) {
          margin-top: 44px;
        }

        .information-content-mobile-content__text {
          max-width: 217px;
        }
        .information-content-mobile-content__img {
          max-height: 102px;
        }

        @include media-breakpoint-down(375) {
          .information-content-mobile-content__text {
            max-width: 101px;
          }
          .information-content-mobile-content__img {
            max-height: 80px;
          }
        }
      }
    }
  }

  &-footer {
    &__link {
      @include text-mob;
      height: 20px;
      font-size: 24px;
      font-family: $t-ff;
      display: block;
      margin-bottom: 40px;
      line-height: 0.83;
      color: $gray;

      @include media-breakpoint-down(1680) {
        font-size: 20px;
        line-height: 1;
      }
      @include media-breakpoint-down(1440) {
        margin-bottom: 24px;
      }
      @include media-breakpoint-down(1366) {
        font-size: 16px;
        line-height: 1.25;
      }
    }
  }
}

.overlap {
  display: none;

  @include media-breakpoint-down(768) {
    display: inline;
  }

  @include media-breakpoint-down(375) {
    display: none;
  }

  &_mob {
    display: none;

    @include media-breakpoint-down(375) {
      display: inline;
    }
  }
}

@include media-breakpoint-down(768) {
  .after-err-1 {
    position: relative;
    &::after {
      content: "";
      position: absolute;

      background-image: url(../../../assets/icons/arrow-up-left.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      right: -40px;
      top: -40px;
      width: 28px;
      height: 58px;
    }
  }
  .after-err-2 {
    position: relative;
    &::after {
      content: "";
      position: absolute;

      background-image: url(../../../assets/icons/arrow-down-left.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      right: -40px;
      bottom: -40px;
      width: 28px;
      height: 58px;
    }
  }
}

@include media-breakpoint-down(375) {
  .after-err-1 {
    &::after {
      right: -20px;
      top: -17px;

      width: 14px;
      height: 29px;
    }
  }
  .after-err-2 {
    &::after {
      right: -20px;
      bottom: -17px;

      width: 14px;
      height: 29px;
    }
  }
}
