.section-1 {
  height: 90vh;
  width: 100%;
  background-color: green;
}

.section-2 {
  height: 90vh;
  width: 100%;
  background-color: orange;
}

.section-3 {
  height: 90vh;
  width: 100%;
  background-color: blueviolet;
}
