<div id="home-section" class="home">
  <div class="wrapper home-aline">

    <div class="home-content">
      <h1 class="home__title">
        I’m a designer
      </h1>
      <p class="home__subtitle">that execute</p>
      <p class="home__subtitle_mob">from idea →<br>concept →<br>wireframing →<br>design</p>
    </div>

    <div class="home-marquee">
      <div class="marqueeAnimFirst">
        <div class="home-marquee-mover text-gradient-animation">
          idea → concept → wireframing → design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      <div class="marqueeAnimSecond">
        <div class="home-marquee-mover text-gradient-animation">
          idea → concept → wireframing → design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>

  </div>
</div>

<header></header>