@import "mixins", "media-mixins", "var", "animations";

.home {
  height: calc(100vh - 100px);

  &-aline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-title {
    @include title-white;

    @include media-breakpoint-up(xl) {
      padding-left: 148px;
      margin-bottom: 32px;
      font-size: 140px;
    }

    @include media-breakpoint-down(xl) {
      padding-left: 123px;
      margin-bottom: 19px;
      font-size: 112px;
    }

    @include media-breakpoint-down(l) {
      font-size: 98px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 78px;
      padding-left: 60px;
    }

    &__part {
      @include text-desk;
      display: inline-block;

      @include media-breakpoint-up(xl) {
        font-size: 58px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 44px;
      }

      @include media-breakpoint-down(l) {
        font-size: 40px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &__part_mob {
      @include text-desk;
      display: block;
      font-size: 78px;
    }
  }

  &-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    &-mover {
      @include title-gray;

      display: inline-block;
      transform: translate3d(0, 0, 0);

      @include media-breakpoint-up(xl) {
        font-size: 140px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 112px;
      }

      @include media-breakpoint-down(l) {
        font-size: 98px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
