<header *ngIf="isMobileSize"></header>
<div class="home">
  <div class="wrapper home-aline">

    <div class="home-content">
      <h1 class="home__title">
        I’m a designer
      </h1>
      <p class="home__subtitle">that execute</p>
      <p class="home__subtitle_mob">idea →<br>concept →<br>wireframing →<br>design</p>
    </div>

    <div class="home-marquee">
      <div class="home-marquee-mover marqueeAnimFirst">
        idea → concept → wireframing → design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="home-marquee-mover marqueeAnimSecond">
        idea → concept → wireframing → design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>

  </div>
</div>
<header *ngIf="!isMobileSize"></header>