@import "mixins", "media-mixins", "var", "animations";

.home {
  height: calc(100vh - 164px);

  @include media-breakpoint-down(1440) {
    height: calc(100vh - 132px);
  }
  @include media-breakpoint-down(1366) {
    height: calc(100vh - 116px);
  }
  @include media-breakpoint-down(768) {
    height: 100vh;
  }

  &-aline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-down(768) {
      justify-content: flex-end;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 148px;

    @include media-breakpoint-down(1440) {
      padding-left: 117px;
    }

    @include media-breakpoint-down(1366) {
      padding-left: 123px;
    }

    @include media-breakpoint-down(768) {
      flex-direction: column;
      padding-left: 60px;
      margin-bottom: 80px;
    }

    @include media-breakpoint-down(375) {
      padding-left: 32px;
      margin-bottom: 40px;
    }
  }

  &__title {
    @include title-white;
    margin-bottom: 74px;
    margin-right: 32px;
    font-size: 140px;
    line-height: 0.7;

    @include media-breakpoint-down(1440) {
      margin-bottom: 19px;
      margin-right: 24px;
      font-size: 104px;
      line-height: 0.94;
    }

    @include media-breakpoint-down(1366) {
      font-size: 98px;
      line-height: 1;
    }

    @include media-breakpoint-down(768) {
      margin-bottom: 16px;
      margin-right: 0;
      font-size: 78px;
      line-height: 1.13;
    }

    @include media-breakpoint-down(375) {
      margin-bottom: 8px;
      font-size: 40px;
      line-height: 1.2;
    }
  }

  &__subtitle {
    @include text-desk;
    display: inline-block;
    line-height: 0.9;
    font-size: 58px;

    @include media-breakpoint-down(1440) {
      font-size: 42px;
      line-height: 1.24;
    }

    @include media-breakpoint-down(1366) {
      font-size: 40px;
      line-height: 1.3;
    }

    @include media-breakpoint-down(768) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(375) {
      margin-bottom: 24px;
      font-size: 24px;
    }

    &_mob {
      @include text-desk;
      display: none;
      font-size: 78px;
      line-height: 1.13;

      @include media-breakpoint-down(768) {
        display: block;
      }

      @include media-breakpoint-down(375) {
        font-size: 40px;
        line-height: 1.2;
      }
    }
  }

  &-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    &-mover {
      @include title-gray;

      display: inline-block;
      transform: translate3d(0, 0, 0);

      @include media-breakpoint-up(1440) {
        font-size: 140px;
      }

      @include media-breakpoint-down(1920) {
        font-size: 112px;
      }

      @include media-breakpoint-down(1440) {
        font-size: 98px;
      }

      @include media-breakpoint-down(768) {
        display: none;
      }
    }
  }
}
