<main>
  <router-outlet #outlet="outlet"></router-outlet>

  <app-header [hidden]="modalOpen"></app-header>
</main>

<div
  #backdrop
  *ngIf="modalOpen"
  class="backdrop"
  (click)="outsideClick($event)"
  (touchend)="outsideClick($event)"
></div>

<div #modalContent class="modal flex-center" *ngIf="modalOpen">
  <div class="modal-wrap">
    <div class="modal-slider">
      <!-- <ng-container *ngIf="!isMobile">
        <img
          *ngFor="let image of modalImgsArr"
          src="{{ image.src }}"
          alt="{{ image.alt }}"
          class="modal-slider__img"
          (click)="slider.goTo('next')"
        />
      </ng-container>
      <ng-container *ngIf="isMobile">
        <img
          *ngFor="let image of modalImgsArr"
          src="{{ image.mobSrc }}"
          alt="{{ image.alt }}"
          class="modal-slider__img"
          (click)="slider.goTo('next')"
        />
      </ng-container> -->
      <img
        *ngFor="let image of modalImgsArr"
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        class="modal-slider__img"
        (click)="slider.goTo('next')"
      />
    </div>
  </div>
</div>
