<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
  <app-header></app-header>
  <!-- <app-header
    *ngIf="isHeaderFixed || null"
    [ngClass]="{ headerFadeIn: isHeaderFixed, headerFadeOut: !isHeaderFixed }"
  ></app-header> -->
</main>

<div
  #backdrop
  *ngIf="modalOpen"
  class="backdrop"
  (click)="outsideClick($event)"
  (touchend)="outsideClick($event)"
></div>

<div #modalContent *ngIf="modalOpen" class="modal flex-center">
  <img src="{{ modalImgSrc }}" alt="" />
</div>
