<!-- <main [@routeAnimations]="prepareRoute(outlet)"> -->
<main>
  <router-outlet #outlet="outlet"></router-outlet>

  <app-header></app-header>

  <!-- <app-header
    *ngIf="isHeaderFixed || null"
    [ngClass]="{ headerFadeIn: isHeaderFixed, headerFadeOut: !isHeaderFixed }"
  ></app-header> -->
</main>

<div
  #backdrop
  *ngIf="modalOpen"
  class="backdrop"
  (click)="outsideClick($event)"
  (touchend)="outsideClick($event)"
></div>

<div #modalContent class="modal flex-center" *ngIf="modalOpen">
  <div class="modal-wrap">
    <div class="modal-slider">
      <img
        *ngFor="let image of modalImgsArr"
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        class="modal-slider__img"
        (click)="slider.goTo('next')"
      />
    </div>
  </div>
</div>
