<div class="contacts-page flex-center container wrapper">
  <div class="contacts-page-content">
    <p class="contacts-page-content__text">
      Are you the design-driven company where I can create, improve, and
      maintain products with contemporary UI and fluent UX? If yes, please say
      hi to
      <a
        href="mailto:annayushch@gmail.comm"
        class="contacts-page-content__email"
        (mouseenter)="mouseenter($event)"
        (mouseleave)="mouseleave($event)"
        >annayushch@gmail.com</a
      >
    </p>
  </div>
  <contacts></contacts>
</div>

<!-- Currently looking for full-time opportunities and open<span
        class="overlap"
        ><br
      /></span>
      to interesting collaborations.<span class="overlap"><br /></span> If
      you’re interested in discussing<span class="overlap"><br /></span>
      a project or simply getting in touch please send an email -->
