<div class="contacts-page flex-center container wrapper">
  <div class="contacts-page-content">
    <p class="contacts-page-content__text">
      <!-- Are you the design-driven company where I can create, improve, and
      maintain products with contemporary UI and fluent UX? If yes, please say
      hi to -->
      Currently I’m looking for an opportunity where I can create, improve, and
      maintain products with contemporary UI and fluent UX. I’m one email away:
      <br />
      I am one email away
      <!-- If you feel like we might be
      a fit, please text me -->
      <a
        href="mailto:annayushch@gmail.com"
        class="contacts-page-content__email"
        (mouseenter)="mouseenter($event)"
        (mouseleave)="mouseleave($event)"
        >annayushch@gmail.com</a
      >
    </p>
  </div>
  <contacts></contacts>
</div>
