<div class="contacts-page flex-center container wrapper">
  <div class="contacts-page-content">
    <p class="contacts-page-content__text">
      I’m looking for an opportunity where I can create, improve, and maintain
      products with contemporary UI and fluent UX.
      <br />
      You are one email away:
      <a
        href="mailto:annayushch@gmail.com"
        class="contacts-page-content__email"
        (mouseenter)="mouseenter($event)"
        (mouseleave)="mouseleave($event)"
        >annayushch@gmail.com</a
      >
    </p>
  </div>
  <contacts></contacts>
</div>
