@import "mixins", "media-mixins", "var";

.contacts-page {
  height: calc(100vh - 324px);
  overflow: hidden;

  @include media-breakpoint-down(1440) {
    height: calc(100vh - 264px);
  }
  @include media-breakpoint-down(1366) {
    height: calc(100vh - 232px);
  }
  @include media-breakpoint-down(768) {
    height: calc(100vh - 336px);
    align-items: flex-end;
  }
  @include media-breakpoint-down(375) {
    height: calc(100vh - 100px);
  }

  &-content {
    @include media-breakpoint-down(375) {
      padding-right: 30px;
    }

    @include media-breakpoint-down(360) {
      padding-right: 20px;
    }

    &__text,
    &__email {
      @include text-desk_wide;

      @include media-breakpoint-down(1536) {
        @include text-desk;
      }

      @include media-breakpoint-down(768) {
        line-height: 1.5;
        font-family: $t-ff;
      }

      @include media-breakpoint-down(375) {
        @include text-mob;
        font-family: $t-ff;
        color: $gray;
      }
    }
    &__email {
      text-decoration: underline;
    }
  }
}

.overlap {
  display: none;

  @include media-breakpoint-down(768) {
    display: inline;
  }

  @include media-breakpoint-down(375) {
    display: none;
  }
}
