<div class="contacts contacts_desk">
  <div class="wrapper">
    <a
      href="https://www.facebook.com/annayushch"
      target="_blank"
      class="contacts__item"
    >
      <span>Facebook</span>
    </a>
    <a
      href="https://telegram.me/annayushch"
      target="_blank"
      class="contacts__item"
    >
      <span>Telegram</span>
    </a>
    <a
      href="https://www.instagram.com/annayushch/"
      target="_blank"
      class="contacts__item"
    >
      <span>Instagram</span>
    </a>
    <a
      href="https://www.are.na/anna-yushchenko"
      target="_blank"
      class="contacts__item"
    >
      <span>Are.na</span>
    </a>
  </div>
</div>

<div class="contacts contacts_mob">
  <div class="wrapper">
    <a
      href="https://www.facebook.com/annayushch"
      target="_blank"
      class="contacts__item"
    >
      <span>Fb</span>
    </a>
    <a
      href="https://telegram.me/annayushch"
      target="_blank"
      class="contacts__item"
    >
      <span>Tg</span>
    </a>
    <a
      href="https://www.instagram.com/annayushch/"
      target="_blank"
      class="contacts__item"
    >
      <span>Inst</span>
    </a>
    <a
      href="https://www.are.na/anna-yushchenko"
      target="_blank"
      class="contacts__item"
    >
      <span>Are</span>
    </a>
  </div>
</div>
