@import "mixins", "media-mixins", "var";

.contacts-page :host {
  width: 100%;
  position: fixed;
  bottom: 0;

  @include media-breakpoint-down(768) {
    position: initial;
  }
}

.contacts {
  width: 100%;
  padding: 40px 104px;

  @include media-breakpoint-down(1440) {
    padding: 24px 104px;
  }

  @include media-breakpoint-down(768) {
    padding: 64px 0px;
  }

  @include media-breakpoint-down(375) {
    padding: 40px 0;
  }

  &__item {
    position: relative;

    margin-right: 104px;
    padding-left: 34px;
    font-size: 24px;
    line-height: 0.83;

    font-family: $r-ff;
    color: $gray;

    &:hover {
      color: #fff;
    }

    @include media-breakpoint-down(1536) {
      margin-right: 62px;
      padding-left: 20px;
      font-size: 16px;
      line-height: 1.25;
    }

    @include media-breakpoint-down(768) {
      margin-right: 72px;
      padding-left: 34px;
      font-size: 24px;
      line-height: 0.83;
    }

    @include media-breakpoint-down(375) {
      margin-right: 40px;
      padding-left: 20px;
      font-size: 16px;
      line-height: 1.25;
    }

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      top: 1px;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include media-breakpoint-down(1536) {
        width: 12px;
        height: 12px;
      }

      @include media-breakpoint-down(768) {
        width: 18px;
        height: 18px;
      }

      @include media-breakpoint-down(375) {
        width: 12px;
        height: 12px;
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url(../../../../assets/socials/fb.svg);
      }
    }
    &:nth-child(2) {
      &::before {
        background-image: url(../../../../assets/socials/tg.svg);
      }
    }
    &:nth-child(3) {
      &::before {
        background-image: url(../../../../assets/socials/inst.svg);
      }
    }
    &:nth-child(4) {
      &::before {
        background-image: url(../../../../assets/socials/arena.svg);
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
